{% extends "index.html" %}

{% block title %}Timetable{% endblock %}

{% block content %}

<h1>Task: {{ task.id }}</h1>
{{ task.algorithm }}
        {{ task.date }}
        {{ task.status }}


<h2> Events </h2>
        {% for e in events %}
        {{ e.uniqueName }} {{e.period }}
        {% endfor %}
<div id="calendar">

</div>
{% endblock %}

        {% block scripts %}
        <script type="text/javascript" src="{{STATIC_URL}}ext/Extensible-config.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}ext/examples/calendar/TestApp/App.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}ext/examples/calendar/data/Calendars.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}ext/examples/calendar/data/Events.js"></script>
        {% endblock %}


